<div class="widget stacked">
    <?php  $this->Viewbase->panel_title('Bienvenid@');   ?>
    <div class="widget-content">
		<?php include_once('filter.ctp');
			$this->Viewbase->Multi_form_create($this->form,'#');
		?>
    </div>
</div>
