<div class="form-group col-lg-6">
	<label for="<?=$field?>">
	<?php 
	echo $title.' ('.strtoupper($lang).')';
	echo '<select class="form-control" name="editor__text__'.$template.'__'.$field.'__'.$lang.'">';
	?>
	<option value="left">Left</option>
	<option value="center">Center</option>
	<option value="right">Right</option>
	<option value="justify">Justify</option>
	</select>
	</label>
</div>

