<div class="form-group col-md-6">
	<label for="<?=$field?>">
	<?php 
	echo $title.' ('.strtoupper($lang).')';
	echo '</label>';
	echo '<input type="url" name="editor__text__'.$template.'__'.$field.'__'.$lang.'" value="'.$value.'">';
	?>
</div>
