<?php           

$inferior = $cond_value_1;
$superior = $cond_value_2;

// verde arriba
if ($cut_order) {
	$color1='ff0000';
	$color2='ffff00';
	$color3='00ff00';
// rojo arriba
} else {
	$color1='00ff00';
	$color2='ffff00';
	$color3='ff0000';
}

echo '<p><img src="'.
$this->base.'/odotutex11.php?'.
	'title='	. $name .
	'&color1='	. $color1 .
	'&color2='	. $color2 .
	'&color3='	. $color3 .
	'&from1='	. 0 .
	'&to1='		. $inferior .
	'&from2='	. $inferior .
	'&to2='		. $superior .
	'&from3='	. $superior .
	'&to3='		. 100 .
	'&achieved='. $achieved .
	'&goal='	. $goal .
	'" /></p>';

