/*------------------------------------------------------------------

[Custom Stylesheet]


Last change:	03/25/2013
Assigned to:	You

-------------------------------------------------------------------*/

.main .container{
  margin-top: 10px;
}

.nav-content{
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 0px solid #ccc;
}

.categoryname{
  padding: 10px;
  background-color: #811f04;
  color: #fff;
}

.summarypaginator{
  text-align: right;
}

.recordsforpage p{
  float: left;
padding-right: 10px;
}

.recordsforpage select{
  float: left;
  margin-top: 3px;
  margin-right: 10px;
}

.actions a{
  margin-right: 10px;
}


.form-group {
  margin-bottom: 5px;
  position: initial;
}

.form-group label{
  margin-right: 10px;
}

.filter_button{
  float: left;
width: 100%;
padding: 15px;
}

.form_button, .form_response{
  float: left;
width: 100%;
padding: 15px;
}

.form-group .input,.form-group select{
  width: 95%;
}

.tab-content {
  margin-top: 5px;
}

.textareafield{
  float:left;
}

.logo-css {
    max-height: 50px;
}

.navbar-brand {
	padding:0;
}

.app{
   display: none;
}

#load {
    position: fixed;
    background: #fff url('images/loader.gif') no-repeat center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}

.subnavbar {
  margin-bottom: 1em;
}

.btn-delete {
	color: #ccc;
	margin-left: 30px;
}

.btn-edit {
	color: #ccc;
}

.stat .value {
    padding: 15px;
}

.pre {
    background-color: #f9f9f9;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
}

.pgraph_ico {
    border-color: green;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    padding: 10px;
}

.pgraph_ico.selected{
	background-color: #ff0;
}

.numberCircle {
    background: #fff none repeat scroll 0 0;
    border: 5px solid #39b3d7;
    border-radius: 50%;
    color: #39b3d7;
    font: 65px Arial,sans-serif;
    height: 100px;
    padding: 8px;
    text-align: center;
    width: 100px;
}


/* 

AJUSTES DE CAMBIO DE COLOR

*/

.navbar.navbar-inverse {
    background: #b5d045 none repeat scroll 0 0;
}

body {
    background: #f4f8e5 none repeat scroll 0 0;
}

.account-container h1 {
    color: #429696;
}

.btn-primary {
    background-image: linear-gradient(to bottom, #fb883e 0%, #fb8335 100%);
    background-repeat: repeat-x;
    border-color: #fc9446;
}

.message {
    text-align: center;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #87c3c8;
}

.dropdown-menu > li > a:hover {
    background-color: #87c3c8;
}

.subnavbar .subnavbar-inner {
    background-image: linear-gradient(to bottom, #3f9494 0%, #389090 100%);
    background-repeat: repeat-x;
    border-bottom: 1px solid #389090;
}

.mainnav span,
.mainnav i,
.dropdown-toggle > i ,
.dropdown-toggle > span {
    color: #85c2c7;
}

.subnavbar .mainnav > li {
    border-left: 1px solid #3A9191;
    border-right: 1px solid #3A9191;
}

.subnavbar .mainnav {
    border-left: 1px solid #3A9191;
    border-right: 1px solid #3A9191;
}

.subnavbar .mainnav > li.active > a {
    background: #b9d24e none repeat scroll 0 0;
    color: #fff;
}

.extra {
    background: #389090 none repeat scroll 0 0;
    border-top: 1px solid #3f9494;
    color: #eee;
}

.extra a {
    color: #84c2c7;
}

.footer {
    background: #b5d045 none repeat scroll 0 0;
    border-top: 1px solid #ddd;
    box-shadow: 0 1px 0 #eee inset;
    color: #eee;
}

#footer-copyright {
    color: #fff;
}

.widget .widget-header {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #e1c9ab 0%, #e0c7a8 100%) repeat scroll 0 0;	
}

.widget .widget-header [class^="icon-"], 
.widget .widget-header [class*=" icon-"],
.widget .widget-header h3 {
    color: #999;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}

.fa,
.shortcuts .shortcut .shortcut-icon {
    color: #999;
}

.widget-content > h3,
/*.widget-content a,*/
.shortcuts .shortcut-label {
    color: #389090;
}

.btn-info {
    background-image: linear-gradient(to bottom, #88c4c8 0%, #81c0c5 100%);
}
.numberCircle {
    border: 5px solid #88c4c8;
}

.dropdown.active > a > span,
.dropdown.active > a > i ,
.active > a > span,
.active > a > i {
    color: white;
}

.categoryname {
    background-color: #e1c8aa;
    color: #666;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #f48382;
}

.well {
    background-color: #eee;
	color: #333;
}

.faq-number {
    background: #b9d350 none repeat scroll 0 0;
}

#messages {
    text-align: center;
}

.btn-danger {
    background-image: linear-gradient(to bottom, #f47e7d 0%, #d9534f 100%);
    background-repeat: repeat-x;
    border-color: #f47e7d;
}

.btn-success {
    background-image: linear-gradient(to bottom, #b5d045 0%, #5cb85c 100%);
    background-repeat: repeat-x;
    border-color: #5cb85c;
}

/***
CAMBIOS ANDRES (BSN)
****/


/***********************
HEADER
***********************/


.navbar.navbar-inverse {
    background: #fcfcfc none repeat scroll 0 0;
    border:none;
    border-top:solid 3px #69b318;
    padding:10px 0;
}




/***********************
DROP DOWN USER
***********************/

.navbar .navbar-nav > li > a {
    font-size: 14px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #3d3d3d;
}
.navbar-brand, .navbar-nav > li > a {
    text-shadow:none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow:none;
}


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #69b318;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #69b318;
}

.dropdown-menu > li > a:hover {
    background-color: #69b318;
}

.icon-user {
  color:#45770e !important;
}

.navbar-inverse .navbar-nav>li>a .icon-user{
    color: #fff;
}

.thumbnail-editor {
	max-width: 100%; 
	box-shadow: 5px 5px 5px #ddd;  
	border: 1px solid #ccc; 
	border-radius: 5px;
	padding: 10px;
}

.image-editor {
	max-width: 100%; 
	border: 1px solid #ccc; 
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	text-align: center;
}
