<?php

if ($error) {
	echo $error;
} else {
	echo "<p>" . __("Report generated") . "</p><p><a href=\"".$result."\">".__("Download")."</a></p>";
	echo "<p>". __("in") . " $secs ". __("seconds") . "</p>";
	echo "<p>". __("Source") . ": <a href=\"". $url_html . "\" target=\"_blank\">". $url_html . "</a></p>";
	
}

?>
