<style>
.col1 {
	float: left;
	width: 30%;
	padding: 10px;
	overflow: hidden;
}

.col2_tercios {
	float: left;
	width: 66%;
	padding: 10px;
	overflow: hidden;
}

.fin_col3 {
	clear: both;
}
</style>

<div class="col1" style="{{extra_col}}">
	{{{column1}}}
</div>
<div class="col1" style="{{extra_col}}">
	{{{column2}}}
</div>
<div class="col1" style="{{extra_col}}">
	{{{column3}}}
</div>
<div class="fin_col3"></div>
