<style>
.col1_2 {
	float: left;
	width: 45%;
	padding: 10px;
	overflow: hidden;
}

.col2_2 {
	float: right;
	width: 45%;
	padding: 10px;
	overflow: hidden;
}

.fin_col2 {
	clear: both;
}

</style>

<div style="width: 100%; margin: auto;">
	<div class="col1_2" style="{{extra_col}}">
		{{{column1}}}
	</div>
	<div class="col2_2" style="{{extra_col}}">
		{{{column2}}}
	</div>
	<div class="fin_col2"></div>
</div>
