<div class="col1_3">
	{{numero_pagina}}
</div>

<div class="col2_tercios" style="text-align: right">
	<span style="color: #afb932">| {{titulo}} |</span> <span style="color: #0c4a92">{{subtitulo}}</span>
</div>
<div class="fin_col">
</div>

<p>&nbsp;</p>
