<div style="height: {{bg_image_height}}; width: {{bg_image_width}}; background-image: url('{{bg_image}}'); background-repeat: no-repeat; padding-top: 50px; background-size: cover;">
	<div style="margin-left: 20px; margin-right: 20px; text-align: center;">
		<h5>{{{titulo}}}</h5>
		{{#images}}
		{{.}}
			<p>&nbsp;</p>
			<p style="text-align: center;"><a href="{{link}}"><img src="{{img}}" style="width: 100%"><BR>{{{txt}}}</a></p>
		{{/images}}
	</div>
</div>

