<style>
.img_txt_02_header {
	position: relative;
	min-height: 150px;
}
.img_txt_02_header-content {
	position: absolute;
	bottom: 0;
	right: 0;
}
</style>

<div class="img_txt_02_header" style="width: {{bg_image_width}}; height: {{bg_image_height}}; background-image: url('{{bg_image}}'); margin: auto; background-size: cover;">
	<div class="img_txt_02_header-content">
		<span style="text-align: {{titulo_align}}; color: {{titulo_color}}">{{{titulo}}}</span>
		<br>
		<span style="text-align: {{sub_titulo_align}}; color: {{sub_titulo_color}}">{{{subtitulo}}}</span>
	</div>
</div>
