<div style="{{extra}} 
			background-image: url('{{bg_image}}');
			background-repeat: no-repeat;
			background-position-x: center;
			background-size: cover;">
	<h1 style="text-align: {{titulo_align}}; color: {{titulo_color}}">{{{titulo}}}</h1>
	<h2 style="text-align: {{sub_titulo_align}}; color: {{sub_titulo_color}}">{{{subtitulo}}}</h2>
</div>
