.page {
/* perfect fit for ubuntu 14.04 */

/*
	height: 90.57em;
	width: 100%;
*/
	
/* perfect fir for redhat / hostgator */

	height: 1400px;
	width: 1000px;
    max-height: 1400px;
    overflow-y: hidden;
	page-break-inside: avoid;

}

.first_letter {
	font-size: 90px;
}

