ul, p {
	line-height: 200%;
	text-align: justify;
	font-family: Arial;
	color: #888;
	font-size: 13px;
}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: x-large;
    padding-top: 35px;
}

h2 {
  color: white;
  font-family: Georgia;
  font-size: xx-large;
}

h3 {
  color: #0189c3;
  font-size: x-large;
  margin: 20px;
  text-transform: uppercase;
}

h4 {
  color: #000099;
  font-size: 5em;
  margin-top: 100px;
  max-width: 10em;
  margin: auto;
  text-align: center;
}

h5 {
  color: #000099;
  font-size: 1em;
  margin: auto;
}

h6 {
    color: white;
    font-family: sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 20px;
}

