<div style="margin: auto;">
	<div style="width: 932px; 
				height: 943px; 
				background-image: url('{{bg_image}}'); 
				background-repeat: no-repeat;
				background-position-x: center;
				background-size: cover;
				vertical-align: center; 
				margin-top: 150px; 
				padding: 50px 0;
				margin: auto;">
		<div style="width: 600px; height: 843px; background-color: rgba(255, 255, 255, 0.9); margin-top: 50px;margin: auto; padding: 50px;">
			<h1 style="text-align: center;">{{{titulo}}}</h1>
			<table width=100%>
				{{#tabla}}
				{{.}}
				<tr>
					<td >{{{0}}}</td>
					<td align=right>{{{1}}}</td>
				</tr>
				{{/tabla}}
			</table>
		</div>
	</div>
</div>

