<style>
.titulo_05 {
  color: #007bbc;
  font-family: Georgia;
  font-size: 24px;
  line-height: 120%;
}
</style>

<p><img src="/app/webroot/css-pdf/code/img/line-1.jpg"></p>
<p><span class="titulo_05">{{{titulo}}}</span></p>
