<style>
.titulo_02 {
  text-align: center;
}

.titulo_02_parte1 {
  color: blue;
  font-size: 38px;
  font-weight: bold;
}

.titulo_02_parte2 {
  color: green;
  font-family: Arial;
  font-size: 34px;
  font-weight: lighter;
}
</style>
<p class="titulo_02"><span class="titulo_02_parte1">{{{titulo}}} </span><span class="titulo_02_parte2">{{{subtitulo}}}</span></p>
