<body style="background-color: #eef">
<pre>1. Example10.php</pre>
<p><img src="Example10.php"></p>
<pre>2. Example13.php</pre>
<p><img src="Example13.php"></p>
<pre>3. Example14.php</pre>
<p><img src="Example14.php"></p>
<pre>4. Example2.php</pre>
<p><img src="Example2.php"></p>
<pre>5. Example3.php</pre>
<p><img src="Example3.php"></p>
<pre>6. Example5.php</pre>
<p><img src="Example5.php"></p>
<pre>7. Example7.php</pre>
<p><img src="Example7.php"></p>
<pre>8. Example12.php</pre>
<p><img src="Example12.php"></p>
<pre>9. Example17.php</pre>
<p><img src="Example17.php"></p>
<pre>10. Example20.php</pre>
<p><img src="Example20.php"></p>
<pre>11. Example21.php</pre>
<p><img src="Example21.php"></p>
<pre>12. Example23.php</pre>
<p><img src="Example23.php"></p>
<pre>13. Example25.php</pre>
<p><img src="Example25.php"></p>
